.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	background: black;
}

.sidebar {
	z-index: 20;
	width: 100vh;
	height: 240px;
	background: url('/images/pinkies_background.png');
	background-repeat: no-repeat;
	background-position: center right 120px;
	transform-origin: top left;
	position: absolute;
	left: 0;
	top: 100%;
	transform: rotate(-90deg);
	border-bottom: 1px solid white;
}

.content {
	width: 100%;
}

.header {
	z-index: 3;
	display: flex;
	padding: 20px;
	position: absolute;
	width: 240px;
	justify-content: center;
}

.hero {
	height: 100vh;
	width: 100%;
	position: relative;
}

.hero:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background: url('/images/pascal-meier-1uVCTVSn-2o-unsplash\ Copy.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.hero:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background: linear-gradient(transparent, #ff38b8);
	z-index: 10;
}

.heroContentContainer {
	height: 100vh;
	width: 100%;
	padding-left: 240px;
	color: white;
	position: absolute !important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
}
.heroContent {
	height: 100vh;
	width: 100%;
	padding-left: 240px;
	color: white;
	position: absolute !important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100;
}

.heroContentImg {
	max-width: 100%;
}

.contentTop {
	display: flex;
	align-items: center;
}

.contentTop img {
	max-height: 700px;
}

.contentBottom {
	display: flex;
	padding-top: 20px;
	padding-left: 40px;
}

.innerContent {
	display: flex;
	width: 45%;
	flex-direction: column;
	padding-left: 40px;
}

.innerContent h4 {
	margin: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.innerContent h1 {
	font-size: 120px;
	width: 50%;
	margin-bottom: 40px;
	line-height: 110px;
}